table {
    width: 100%;
}

tr.mat-mdc-footer-row td {
    font-weight: bold;
}

#print-section {
    display: none;
}

.card {
    margin: 20px;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
}

.grid-item {
    padding: 10px;
    text-align: center;
}