<main id="main" class="main">
    <div class="pagetitle">
        <nav class="d-flex">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
                <li class="breadcrumb-item"><a routerLink="/pension/list">Pensions</a></li>
                <li class="breadcrumb-item">Historiques</li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="row d-flex justify-content-center">
            <mat-card *ngFor="let pension of pensions" class="mb-3">
                <mat-card-content>
                    <div class="grid-container">
                        <div class="grid-item" style="flex: 1;"><i class="bi bi-cash-stack"
                                style="font-size: 50px;color: green;"></i></div>
                        <div class="grid-item" style="flex: 1;">{{pension.prenom}}&nbsp;{{pension.nom}}<br>
                            <p>L3 Economie</p>
                        </div>
                        <div class="grid-item" style="flex: 1;">
                            <label>Montant Payé</label><br>
                            {{pension.montantVerse |currency:'XAF'}}
                        </div>
                        <div class="grid-item" style="flex: 1;"><label>Statut<br>Soldée</label></div>
                    </div>
                </mat-card-content>
            </mat-card>
            <h4>Mes opérations</h4>
            <hr>
            <mat-card *ngFor="let pension of pensions" class="mb-3">
                <mat-card-content>
                    <div class="grid-container">
                        <div class="grid-item" style="flex: 1;color: green;"><mat-icon>trending_up</mat-icon></div>
                        <div class="grid-item" style="flex: 1;">{{pension.date | date:'mediumDate'}}</div>
                        <div class="grid-item" style="flex: 1;">{{pension.prenom}}</div>
                        <div class="grid-item" style="flex: 1;color: green;">{{pension.montantVerse
                            |currency:'XAF'}}<br><small style="color: black;">EFFECTUÉ</small></div>
                        <div class="grid-item" style="flex: 1;">
                            <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger>
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <mat-dialog-actions>
                                    <button mat-button color="success" class="print" printSectionId="print-section"
                                        [useExistingCss]="true" ngxPrint>Imprimer</button>
                                    <button mat-button color="warn" (click)="delete()">Supprimer</button>
                                </mat-dialog-actions>
                            </mat-menu>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </section>
</main>


<!---------------------- Le modèle du reçu à Imprimer ------------------------------>


<div id="print-section">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="5">
                    <h2 style="text-align: center;">Reçu de paiement</h2>
                    <div class="d-flex justify-content-between">
                        <div>
                            <label> Nom & prenom</label>
                            <p class="text-center">Tchicaya Giovani</p>
                        </div>
                        <div>
                            <label>Date de tirage</label>
                            <p class="text-center">Nov 20, 2023</p>
                        </div>
                        <div>
                            <label> Matricule</label>
                            <p class="text-center">LOGDIG001</p>
                        </div>
                    </div>
                </th>
            </tr>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Banque</th>
                <th scope="col">NºCompte</th>
                <th scope="col">Libellé</th>
                <th scope="col">Montant</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Nov 17, 2023</th>
                <td>UBA</td>
                <td>112123455-32</td>
                <td>Droits universitaires</td>
                <td>50.000 FCFA</td>
            </tr>
            <tr>
                <th scope="row">Nov 17, 2023</th>
                <td>UBA</td>
                <td>112123455-32</td>
                <td>1ère tranche pension</td>
                <td>100.000 FCFA</td>
            </tr>
            <tr>
                <th scope="row" colspan="4">Totaux</th>
                <td>150.000 FCFA</td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-between">
        <div>
            <small>Signature étudiant(e) :</small>
        </div>
        <div>
            <small>Nom & Prenom et <br> Signature caissier(e) :</small>
        </div>
    </div>
</div>