<main id="main" class="main">
    <div class="pagetitle">
        <nav class="d-flex">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
                <li class="breadcrumb-item"><a routerLink="/pension/list">Pensions scolaires</a></li>
                <li class="breadcrumb-item">Paiements</li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="row d-flex justify-content-center">
            <div class="mb-3" style="display: flex; justify-content: end;align-items: center;">
                <div class="d-flex align-right">

                </div>
            </div>
            <mat-card class="mb-3"
                style="background-image: linear-gradient( to right,#162E58,#9dbef7);filter: brightness(150%);">
                <mat-card-content>
                    <div class="grid-container" style="align-items: center;">
                        <div class="grid-item" style="flex: 1;"><i class="bi bi-cash-stack"
                                style="font-size: 50px;color: green;"></i></div>
                        <div class="grid-item" style="flex: 1;">
                            <h1>{{pension.etudiant.nom}}&nbsp;{{pension.etudiant.prenom}}<br></h1>
                            <h3 style="color: gray;">{{pension.etudiant.matricule}}</h3>
                        </div>
                        <div class="grid-item" style="flex: 1;">
                            <label class="l1">Pension Annuelle</label><br>
                            <h3>{{pension.pensionAnnuelle |currency:'XAF':'code'}}</h3>
                        </div>
                        <div class="grid-item" style="flex: 1;color: green;">
                            <label class="l1">Montant Payé</label><br>
                            <h3> + {{pension.totalPaye |currency:'XAF':'code'}}</h3>
                        </div>
                        <div class="grid-item" style="flex: 1;"><label class="l1">Statut</label><br>
                            <h3>{{pension.statut}}</h3>
                        </div>
                        <div class="grid-item" style="flex: 1;">
                            <button mat-fab style="background-color: #162E58;color: white;" (click)="openDialogAdd()"
                                class="demo-button">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="btned"><mat-icon (click)="openDialogEditPension()">edit</mat-icon></div>
                </mat-card-content>
            </mat-card>
            <div class="median">
                <span>
                    <h4>Mes opérations</h4>
                </span>
                <!-- <span>
                    <a>Voir plus</a>
                </span> -->
            </div>
            <hr>
            <mat-card *ngFor="let paie of paiement" class="mb-3">
                <mat-card-content>
                    <div class="grid-container" style="align-items: center;">
                        <div class="grid-item" style="flex: 1;color: green;">
                            <mat-icon>trending_up</mat-icon>
                        </div>
                        <div class="grid-item" style="flex: 2;">{{paie.date}}</div>
                        <div class="grid-item" style="flex: 5;">{{paie.libelle}}</div>
                        <div class="grid-item" style="flex: 2;color: green;">{{paie.montant
                            |currency:'XAF':'code'}}<br><small style="color: black;">EFFECTUÉ</small></div>
                        <div class="grid-item" style="flex: 1;">
                            <button mat-icon-button routerLink="/paiementDetail/{{paie.id}}">
                                <mat-icon>launch</mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </section>
</main>