<main id="main" class="main">
   <div class="pagetitle" *ngIf="role == 'ADMIN'">
      <nav>
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
            <li class="breadcrumb-item active">Profile</li>
         </ol>
      </nav>
   </div>
   <section class="section profile">
      <div class="row">
         <div class="col-xl-4">
            <div class="card">
               <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                  <img [src]="user.image_url || img" alt="Profile" class="rounded-circle">
                  <h2>{{user.nom}}&nbsp;{{user.prenom}}</h2>
                  <h3 *ngIf="role == 'ETUDIANT'">{{student.niveau}}&nbsp;{{student.option}}</h3>
               </div>
            </div>
         </div>
         <div class="col-xl-8">
            <div class="card">
               <div class="card-body pt-3">
                  <ul class="nav nav-tabs nav-tabs-bordered">
                     <li class="nav-item"> <button class="nav-link active" data-bs-toggle="tab"
                           data-bs-target="#profile-overview">Infos Perso.</button></li>
                     <li class="nav-item"> <button class="nav-link" data-bs-toggle="tab"
                           data-bs-target="#profile-change-password">Modifier Mot De Passe</button></li>
                  </ul>
                  <div class="tab-content pt-2">
                     <div class="tab-pane fade show active profile-overview" id="profile-overview">
                        <div class="content">
                           <div class="position" *ngIf="role == 'ETUDIANT'">
                              <div class="icon">
                                 <mat-icon>account_box</mat-icon>
                              </div>
                              <div>
                                 <label>Matricule </label><br>
                                 <p>{{student.matricule}}</p>
                              </div>
                           </div>
                           <div class="position">
                              <div class="icon">
                                 <mat-icon>email</mat-icon>
                              </div>
                              <div>
                                 <label>Email </label><br>
                                 <p>{{user.email}}</p>
                              </div>
                           </div>
                           <div class="position" *ngIf="role == 'ETUDIANT'">
                              <div class="icon">
                                 <mat-icon>cake</mat-icon>
                              </div>
                              <div>
                                 <label>Date de Naissance </label><br>
                                 <p>{{student.dateNaissance|date:'dd/MM/yyyy'}}</p>
                              </div>
                           </div>
                           <div class="position">
                              <div class="icon">
                                 <mat-icon>phone</mat-icon>

                              </div>
                              <div>
                                 <label>Telephone </label><br>
                                 <p>{{user.telephone}}</p>
                              </div>
                           </div>
                           <div class="position">
                              <div class="icon">
                                 <mat-icon>wc</mat-icon>
                              </div>
                              <div>
                                 <label>Genre </label><br>
                                 <p>{{user.genre}}</p>
                              </div>
                           </div>
                           <div class="position" *ngIf="role == 'ETUDIANT'">
                              <div class="icon">
                                 <mat-icon>school</mat-icon>
                              </div>
                              <div>
                                 <label>Filière </label><br>
                                 <p>{{student.filiere}}</p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="tab-pane fade pt-3" id="profile-change-password">
                        <form [formGroup]="formulaireModif" (submit)="edit()">
                           <mat-form-field appearance="outline">
                              <mat-label>Mot de Passe</mat-label>
                              <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
                              <button mat-icon-button matSuffix (click)="hide = !hide"
                                 [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button">
                                 <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </button>
                              <mat-error *ngIf="formulaireModif.controls.password.status ==='INVALID'">
                                 Champ requis
                              </mat-error>
                           </mat-form-field>
                           <br>
                           <mat-form-field appearance="outline">
                              <mat-label>Confirmer votre mot de passe</mat-label>
                              <input matInput [type]="hideConf ? 'password' : 'text'" formControlName="confirmPassword"
                                 required>
                              <button mat-icon-button matSuffix (click)="hideConf = !hideConf"
                                 [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConf" type="button">
                                 <mat-icon>{{hideConf ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </button>
                              <mat-error *ngIf="formulaireModif?.errors?.['mismatch'] && formulaireModif?.touched">
                                 Incorrect
                              </mat-error>
                           </mat-form-field>
                        </form>
                        <div mat-dialog-actions class="form-buttons">
                           <button mat-raised-button style="color: #162E58;" (click)="edit()">
                              <mat-icon>update</mat-icon>
                              MàJ
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</main>