<main id="main" class="main">
    <div class="pagetitle">
        <nav class="d-flex">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
                <li class="breadcrumb-item">grille tarifaire</li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-12 ">
                <div style="display: flex; justify-content: space-between;align-items: center;">
                    <div></div>
                    <div class="demo-button-container">
                        <button mat-fab style="background-color: #162E58;color: white;" class="demo-button"
                            (click)="openDialogAdd()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </div>
                <br>
                <div class="mat-elevation-z8">
                    <table>
                        <tr>
                            <th>Options</th>
                            <th>Niveaux</th>
                            <th>Montant Annuel</th>
                            <th>Actions</th>
                        </tr>
                        <!-- On utilise ngFor pour parcourir le tableau de données -->
                        <ng-container *ngFor="let key of getKeys (); let i = index">
                            <!-- On utilise la variable key pour afficher le jour -->
                            <!-- On utilise un ng-container pour créer une boucle sur les valeurs du Map à l'index i -->
                            <ng-container *ngFor="let value of getValues ()[i]; let first = first; let last = last">
                                <!-- On utilise une structure conditionnelle pour afficher les cellules selon le cas -->
                                <ng-container *ngIf="first; else notFirst">
                                    <tr>
                                        <td [attr.rowspan]="getValues()[i].length">{{ key }}</td>
                                        <!-- Si c'est la première cellule du jour, on affiche les autres propriétés sur la même ligne -->
                                        <td>{{ value.niveau }}</td>
                                        <td>{{ value.montant }}</td>
                                        <td>
                                            <mat-icon (click)="openDialogEdit(value)">edit</mat-icon>&nbsp;&nbsp;
                                            <!-- <mat-icon color="warn"
                                                (click)="openDialogDelete(value)">delete_forever</mat-icon> -->
                                        </td>
                                    </tr>
                                </ng-container>
                                <ng-template #notFirst>
                                    <!-- Si ce n'est pas la première cellule du jour, on crée une nouvelle ligne -->
                                    <tr>
                                        <td>{{ value.niveau }}</td>
                                        <td>{{ value.montant }}</td>
                                        <td>
                                            <mat-icon (click)="openDialogEdit(value)">edit</mat-icon>&nbsp;&nbsp;
                                            <!-- <mat-icon color="warn"
                                                (click)="openDialogDelete(value)">delete_forever</mat-icon> -->
                                        </td>
                                    </tr>
                                </ng-template>
                            </ng-container>
                        </ng-container>
                    </table>
                </div>
            </div>
        </div>
    </section>
</main>