.container {
    padding: 0;
    margin: 0;

}

img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 4px solid #0e1c34;
    margin-bottom: 10px;
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #162E58;
    border-radius: 15px;
}

.position {
    display: grid;
    grid-template-columns: 10% 80%;
    grid-gap: 30px;
    align-items: center;
}

.icon {
    background-color: #162E58;
    width: 50px;
    height: 50px;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    align-items: center;
}

mat-icon {
    color: white;
}

label {
    color: black;
    font-weight: bolder;
}

.form-buttons {
    justify-content: flex-end;
    display: flex;
}