<div class="mb-3 form-buttons">
    <mat-icon color="warn" style="cursor: pointer;" (click)="onNoClick()">close</mat-icon>
</div>
<div class="container">
    <div class="image">
        <div>
            <h2 style="color: white;">{{admin.nom}} &nbsp; {{admin.prenom}}</h2>
        </div>
        <div>
            <img [src]="admin.image_url || img" alt="photo de profil">
        </div>
    </div>
    <br>
    <div>

        <div class="position">
            <div class="icon">
                <mat-icon>email</mat-icon>
            </div>
            <div>
                <label>Email </label><br>
                <p>{{admin.email}}</p>
            </div>
        </div>
        <hr>
        <div class="position">
            <div class="icon">
                <mat-icon>wc</mat-icon>
            </div>
            <div>
                <label>Genre </label><br>
                <p>{{admin.genre}}</p>
            </div>
        </div>
        <hr>
        <div class="position">
            <div class="icon">
                <mat-icon>phone</mat-icon>
            </div>
            <div>
                <label>Téléphone </label><br>
                <p>{{admin.telephone}}</p>
            </div>
        </div>
    </div>
</div>