<p>list-lemploi works!</p>
<main id="main" class="main">
    <div class="pagetitle" *ngIf="role =='ADMIN'">
        <nav class="d-flex">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
                <li class="breadcrumb-item"><a routerLink="/emploiDuTemps/list">Emploi du temps</a></li>
                <li class="breadcrumb-item">Classe</li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-12 ">
                <div style="display: flex; justify-content: space-between;align-items: center;">
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Filtrer la recherche</mat-label>
                            <input matInput (keyup)="applyFilter($event)" #input>
                            <mat-icon matSuffix>filter_list</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="demo-button-container" *ngIf="role =='ADMIN'">
                        <button mat-fab style="background-color: #162E58;color: white;" class="demo-button"
                            (click)="openDialogAdd()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource" matSort>

                        <ng-container matColumnDef="jour">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Jours </th>
                            <td mat-cell *matCellDef="let row"> {{row.jour}} </td>
                        </ng-container>
                        <ng-container matColumnDef="horaires">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Horaires </th>
                            <td mat-cell *matCellDef="let row"> {{row.debut}}&nbsp;-&nbsp;{{row.fin}}</td>
                        </ng-container>
                        <ng-container matColumnDef="matiere">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Matières </th>
                            <td mat-cell *matCellDef="let row"> {{row.matiere.intitule}} </td>
                        </ng-container>
                        <ng-container matColumnDef="enseignant">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Enseignants </th>
                            <td mat-cell *matCellDef="let row">
                                {{row.enseignant.grade}}&nbsp;{{row.enseignant.nom}}&nbsp;{{row.enseignant.prenom}}
                            </td>
                        </ng-container>

                        <ng-container *ngIf="role =='ADMIN'" matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef aria-label="row actions"> Actions </th>
                            <td mat-cell *matCellDef="let row">
                                <mat-icon (click)="openDialogEdit(row)">edit</mat-icon>&nbsp;&nbsp;
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4"> Aucune donnée correspondant au filtre </td>
                        </tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons
                        aria-label="Select page of users"></mat-paginator>
                </div>
            </div>

        </div>
    </section>
</main>