<main id="main" class="main">
    <div class="pagetitle" *ngIf="role =='ADMIN'">
        <nav class="d-flex">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
                <li class="breadcrumb-item"><a routerLink="/emploiDuTemps/list">Emploi du temps</a></li>
                <li class="breadcrumb-item">Classe</li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="row d-flex justify-content-center" *ngIf="role == 'ADMIN'">
            <div class="col-lg-12 ">
                <div style="display: flex; justify-content: space-between;align-items: center;">
                    <div></div>
                    <div class="demo-button-container">
                        <button mat-mini-fab style="background-color: #162E58;color: white;" class="demo-button"
                            printSectionId="print-section" [useExistingCss]="true" ngxPrint>
                            <mat-icon>print</mat-icon>
                        </button>&nbsp;
                        <button mat-fab style="background-color: #162E58;color: white;" class="demo-button"
                            (click)="openDialogAdd()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </div>
                <br>
                <div class="mat-elevation-z8">
                    <table>
                        <tr>
                            <th>Jours</th>
                            <th>Horaires</th>
                            <th>Matieres</th>
                            <th>Enseignants</th>
                            <th>Actions</th>
                        </tr>
                        <!-- On utilise ngFor pour parcourir le tableau de données -->
                        <ng-container *ngFor="let key of getKeys (); let i = index">
                            <!-- On utilise la variable key pour afficher le jour -->
                            <!-- On utilise un ng-container pour créer une boucle sur les valeurs du Map à l'index i -->
                            <ng-container *ngFor="let value of getValues ()[i]; let first = first; let last = last">
                                <!-- On utilise une structure conditionnelle pour afficher les cellules selon le cas -->
                                <ng-container *ngIf="first; else notFirst">
                                    <tr>
                                        <td [attr.rowspan]="getValues()[i].length">{{ key }}</td>
                                        <!-- Si c'est la première cellule du jour, on affiche les autres propriétés sur la même ligne -->
                                        <td>{{ value.debut }} - {{ value.fin }}</td>
                                        <td>{{ value.matiere.intitule }}</td>
                                        <td>{{ value.enseignant.grade }} {{ value.enseignant.nom }} {{
                                            value.enseignant.prenom }}</td>
                                        <td>
                                            <mat-icon (click)="openDialogEdit(value)">edit</mat-icon>&nbsp;&nbsp;
                                            <mat-icon color="warn"
                                                (click)="openDialogDelete(value)">delete_forever</mat-icon>
                                        </td>
                                    </tr>
                                </ng-container>
                                <ng-template #notFirst>
                                    <!-- Si ce n'est pas la première cellule du jour, on crée une nouvelle ligne -->
                                    <tr>
                                        <td>{{ value.debut }} - {{ value.fin }}</td>
                                        <td>{{ value.matiere.intitule }}</td>
                                        <td>{{ value.enseignant.grade }} {{ value.enseignant.nom }} {{
                                            value.enseignant.prenom }}
                                        </td>
                                        <td>
                                            <mat-icon (click)="openDialogEdit(value)">edit</mat-icon>&nbsp;&nbsp;
                                            <mat-icon color="warn"
                                                (click)="openDialogDelete(value)">delete_forever</mat-icon>
                                        </td>
                                    </tr>
                                </ng-template>
                            </ng-container>
                        </ng-container>
                    </table>
                </div>
            </div>
        </div>
        <!-- Si l'utilisateur s'authentifie en tant qu'étudiant -->
        <div class="emploi" *ngIf="role == 'ETUDIANT'">
            <div class="day" *ngFor="let key of getKeys (); let i = index">
                <div class="day-header">{{key}}</div>
                <div>
                    <div class="activity" *ngFor="let value of getValues ()[i]; let first = first; let last = last">
                        <div class="activity-time">{{value.debut}} - {{value.fin}}</div>
                        <div>{{value.matiere.intitule}}</div>
                        <div class="activity-teacher">
                            {{value.enseignant.grade}}&nbsp;{{value.enseignant.prenom}}&nbsp;{{value.enseignant.nom}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Modèle de l'emploi du temps à imprimer  -->
<div id="print-section" style="display: none;">
    <div>
        [Nom de l'école]
    </div>
    <br>
    <div class="title">
        <h1>EMPLOI DU TEMPS</h1>
        <label>Classe : </label>&nbsp;<span>{{classe}}</span>
    </div>
    <div>
        <table>
            <tr>
                <th>Jours</th>
                <th>Horaires</th>
                <th>Matieres</th>
                <th>Enseignants</th>
            </tr>
            <ng-container *ngFor="let key of getKeys (); let i = index">
                <ng-container *ngFor="let value of getValues ()[i]; let first = first; let last = last">
                    <ng-container *ngIf="first; else notFirst">
                        <tr>
                            <td [attr.rowspan]="getValues()[i].length">{{ key }}</td>
                            <td>{{ value.debut }} - {{ value.fin }}</td>
                            <td>{{ value.matiere.intitule }}</td>
                            <td>{{ value.enseignant.grade }} {{ value.enseignant.nom }} {{
                                value.enseignant.prenom }}</td>
                        </tr>
                    </ng-container>
                    <ng-template #notFirst>
                        <tr>
                            <td>{{ value.debut }} - {{ value.fin }}</td>
                            <td>{{ value.matiere.intitule }}</td>
                            <td>{{ value.enseignant.grade }} {{ value.enseignant.nom }} {{
                                value.enseignant.prenom }}
                            </td>
                        </tr>
                    </ng-template>
                </ng-container>
            </ng-container>
        </table>
    </div>
</div>