.container {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: auto auto;
}

.img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 4px solid #0e1c34;
    margin-bottom: 10px;
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #162E58;
    /* border-radius: 15px; */
    border-radius: 15px 0px 0px 15px;
}

.position {
    display: grid;
    grid-template-columns: 10% 80%;
    grid-gap: 30px;
    align-items: center;
}

.icon {
    background-color: #162E58;
    width: 50px;
    height: 50px;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    align-items: center;
}

mat-icon {
    color: white;
}

label {
    color: black;
    font-weight: bolder;
}

.form-buttons {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.content {
    border: 2px solid #0e1c34;
    border-radius: 0px 15px 15px 0px;
    padding-left: 8px;
}

/**************************  CSS carte d'étudiant ******************************/
#print-section {
    display: none;
}

.container-card {
    background: url('src/assets/img/background card.jpg') no-repeat;
    background-size: cover;
    width: 400px;
    height: 284px;
    border-radius: 10px;
    display: grid;
    grid-column: 25% 10% 40% 25%;
}

.header-card {
    background-color: rgba(0, 0, 0, 0.343);
    width: 400px;
    height: 60px;
    backdrop-filter: blur(7px);
    border-radius: 10px 10px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around
}

#img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.title-card {
    font-size: 8px;
    font-weight: bold;
    text-align: center;
}

.content-card {
    width: 400px;
    height: 164px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-card {
    background-color: rgba(0, 0, 0, 0.343);
    width: 400px;
    height: 20px;
    backdrop-filter: blur(8px);
    border-radius: 0px 0px 10px 10px;
}

.color {
    color: white;
    margin: 0;
}

.photo-card {
    box-sizing: border-box;
    border: 1px solid white;
    width: 148px;
    height: 148px;
    margin: 8px;
}

.infos-card {
    margin-left: 30px;
}

.label {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 10px;
}

.infos {
    font-size: 10px;
    width: 150px;
    margin: 0;
    color: black;
}

.year {
    padding: 0px 0px 10px 20px;
}

.school-name-card {
    height: 40px;
    text-align: center;
}

span {
    font-size: 10px;
}

.separator {
    width: 3px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.343);
}