<div class="mb-3 form-buttons">
    <div>
        <button title="Imprimer la carte d'étudiant" mat-icon-button printSectionId="print-section"
            [useExistingCss]="true" ngxPrint>
            <mat-icon style="color: #0e1c34;">print</mat-icon>
        </button>
    </div>
    <div>
        <mat-icon color="warn" style="cursor: pointer;" (click)="onNoClick()">close</mat-icon>
    </div>
</div>
<div class="container">
    <div class="image">
        <div>
            <h2 style="color: white;text-align: center;">{{student.nom}} <br> {{student.prenom}}</h2>
        </div>
        <div>
            <img class="img" [src]="student.image_url || img" alt="photo de profil">
        </div>
        <div>
            <div style="text-align: center;">
                <p style="color: white;">{{student.niveau}}&nbsp;&nbsp;{{student.option}}</p>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="position">
            <div class="icon">
                <mat-icon>account_box</mat-icon>
            </div>
            <div>
                <label>Matricule </label><br>
                <p>{{student.matricule}}</p>
            </div>
        </div>
        <div class="position">
            <div class="icon">
                <mat-icon>email</mat-icon>
            </div>
            <div>
                <label>Email </label><br>
                <p>{{student.email}}</p>
            </div>
        </div>

        <div class="position">
            <div class="icon">
                <mat-icon>cake</mat-icon>
            </div>
            <div>
                <label>Date de Naissance </label><br>
                <p>{{student.dateNaissance|date:"dd/MM/yyyy"}}</p>
            </div>
        </div>
        <div class="position">
            <div class="icon">
                <mat-icon>phone</mat-icon>

            </div>
            <div>
                <label>Telephone </label><br>
                <p>{{student.telephone}}</p>
            </div>
        </div>
        <div class="position">
            <div class="icon">
                <mat-icon>wc</mat-icon>
            </div>
            <div>
                <label>Genre </label><br>
                <p>{{student.genre}}</p>
            </div>
        </div>
        <div class="position">
            <div class="icon">
                <mat-icon>school</mat-icon>
            </div>
            <div>
                <label>Filière </label><br>
                <p>{{student.filiere}}</p>
            </div>
        </div>
    </div>
</div>

<!---------------------- Le modèle de la carte d'étudiant à Imprimer ------------------------------>


<div id="print-section">
    <div class="container-card">
        <div class="header-card">
            <div class="emblem-card">
                <img id="img" src="../../assets/img/Emblème national.png">
            </div>
            <div class="title-card">
                <p class="color">RÉPUBLIQUE DU CAMEROUN</p>
                <small class="color">REPUBLIC OF CAMEROON</small><br><br>
                <p class="color">MINISTÈRE DE L'ENSEIGNEMENT SUPERIEUR</p>
                <small class="color">MINISTRY OF HIGHER EDUCATION</small>
            </div>
            <div class="logo-card">
                <img id="img" src="../../assets/img/logo SCHULE.jpeg">
            </div>
        </div>
        <div class="school-name-card">
            <p class="color">CARTE D'ÉTUDIANT</p>
            <small class="color">[NOM DE L'ÉCOLE]</small>
        </div>
        <div class="content-card">
            <div>
                <img class="photo-card" src={{student.image_url}}>
            </div>
            <div class="separator"></div>
            <div class="infos-card">
                <label class="label">Matricule : </label>
                <p class="infos">{{student.matricule}}</p>
                <label class="label">Nom : </label>
                <p class="infos">{{student.nom}}&nbsp;{{student.prenom}}</p>
                <label class="label">Née le : </label>
                <p class="infos">{{ student.dateNaissance|date:"dd/MM/yyyy"}}</p>
                <label class="label">Sexe : </label>
                <p class="infos">{{student.genre}}</p>
                <label class="label">Option : </label>
                <p class="infos">{{student.option}}</p>
            </div>
        </div>
        <div class="footer-card">
            <div class="year">
                <label class="label">Année Académique : <span
                        style="color: black;">{{student.anneeAcademique.annees}}</span></label>

            </div>
        </div>
    </div>
</div>