<main>
   <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">

         <div class="rounded px-3 py-4 px-md-5 text-center text-lg-start" style="background-color:#162E58;">
            <div class="container">
               <div class="row gx-lg-5 align-items-end">
                  <div class="col-lg-6 mb-5 mb-lg-0">
                     <div class="d-flex justify-content-center">
                        <img src="../../../assets/img/logo SCHULE.jpeg"
                           style="width: 200px; height: 200px; border-radius: 15px;" alt="logo">
                     </div>
                     <h1 class="my-5 display-3 fw-bold ls-tight">
                        La meilleure <br />
                        <span class="text-primary">pour la gestion scolaire</span>
                     </h1>
                     <p style="color: hsl(217, 10%, 50.8%)">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Eveniet, itaque accusantium odio, soluta, corrupti aliquam
                        quibusdam tempora at cupiditate quis eum maiores libero
                        veritatis? Dicta facilis sint aliquid ipsum atque?
                     </p>
                  </div>

                  <div class="col-lg-6 mb-5 mb-lg-0">
                     <div class="card">
                        <div class="card-body py-5 px-md-5">
                           <div class="pt-4 pb-2">
                              <h5 class="card-title text-center pb-0 fs-4">Connectez-vous à votre compte</h5>
                              <p class="text-center small">Veuillez entrer votre nom d'utilisateur et mot de passe</p>
                           </div>
                           <form>

                              <div class="form-outline mb-4">
                                 <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Nom d'utilisateur</mat-label>
                                    <input matInput>
                                    <mat-icon matSuffix>person</mat-icon>
                                 </mat-form-field>

                              </div>

                              <div class="form-outline mb-4">
                                 <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Mot de Passe</mat-label>
                                    <input matInput [type]="hide ? 'password' : 'text'">
                                    <button mat-icon-button matSuffix (click)="hide = !hide"
                                       [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                       <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                 </mat-form-field>
                              </div>

                              <button mat-raised-button style="background-color: #162E58;color: white;">
                                 Se connecter
                              </button>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
               <br>
               <div class="credits" style="color: white;text-align: center;">© Copyright Devops crew. Tous les droits
                  sont réservés</div>
            </div>
         </div>
         <!-- Jumbotron -->
      </section>
      <!-- Section: Design Block -->
   </div>
</main>