<div mat-dialog-title class="title">
    <h2 style="color: #162E58; font-weight: bolder;text-align: center;">Modifier cette année académique</h2>
</div>
<hr>
<div mat-dialog-content class="container">
    <form class="example-form" [formGroup]="anneeAcademique">
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Année académique</mat-label>
            <span matPrefix> </span>
            <input type="text" matInput placeholder="YYYY-YYYY" formControlName="annees">
            <mat-error *ngIf="anneeAcademique.controls.annees.status ==='INVALID'">
                Champ requis
            </mat-error>
            <button matSuffix mat-mini-fab style="background-color: #162E58;color: white;"
                (click)="editAnnee()"><mat-icon>edit</mat-icon></button>
        </mat-form-field>
    </form>
</div>