<main id="main" class="main">
   <div class="pagetitle">
      <nav>
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
            <li class="breadcrumb-item active">Tableau de bord</li>
         </ol>
      </nav>
   </div>
   <section class="section dashboard">
      <div class="row">
         <div class="col-lg-12">
            <div class="row">
               <div class="col-xxl-4 col-md-4">
                  <div class="card info-card sales-card">
                     <div class="card-title text-center">Etudiants</div>
                     <div class="card-body d-flex justify-content-between">
                        <div>
                           <h5 class="card-title">Nombre Total </h5>
                           <div class="d-flex align-items-center">
                              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i
                                    class="bi bi-people-fill"></i></div>
                              <div class="ps-3">
                                 <h6>{{students.length}}</h6>
                              </div>
                           </div>
                        </div>
                        <div>
                           <h5 class="card-title">Nombre Inscrit </h5>
                           <div class="d-flex align-items-center">
                              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i
                                    class="bi bi-people-fill"></i></div>
                              <div class="ps-3">
                                 <h6>{{Reg_student.length}}</h6>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-4 col-md-4">
                  <div class="card info-card sales-card">
                     <div class="card-title text-center">Enseignants</div>
                     <div class="card-body d-flex justify-content-between">
                        <div>
                           <h5 class="card-title">Nombre Total </h5>
                           <div class="d-flex align-items-center">
                              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i
                                    class="bi bi-people-fill"></i></div>
                              <div class="ps-3">
                                 <h6>{{teachers.length}}</h6>
                              </div>
                           </div>
                        </div>
                        <div>
                           <h5 class="card-title">Nombre Actif </h5>
                           <div class="d-flex align-items-center">
                              <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i
                                    class="bi bi-people-fill"></i></div>
                              <div class="ps-3">
                                 <h6>{{ActifTeachers.length}}</h6>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-4 col-md-4">
                  <div class="card info-card revenue-card">
                     <div class="card-title text-center">Classes</div>
                     <div class="card-body">
                        <h5 class="card-title text-center">Nombre Total</h5>
                        <div class="d-flex align-items-center justify-content-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i
                                 class="bi bi-mortarboard"></i></div>
                           <div class="ps-3">
                              <h6>{{classes.length}}</h6>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</main>